:root{
    --cor-fundo: #000000;
    --cor-principal:#FF0000 ;
    --cor-segundaria:#0FFFFF ;
    --cor-destaque: #0000FF;
    --cor-texto:#778899 ;
}
body{
    background-color:var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caixa-principal{
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600px;
}
